//
// Custom Variables
// =================================================


// Sidebar
// Variables for sidebar section elements.
// --------------------------------------------------
$site-author-image-width              = 150px